.container {
  display: flex;
  flex-direction: column;
  width: 100vw; /*---responsive---*/
  height: 100vh;
  font-family: "Roboto", sans-serif;
  padding: 0 1rem;
  background-color: white;
}

.heading {
  font-weight: 500;
  font-size: 1.875rem; /*---responsive---*/
  letter-spacing: 0.02em;
  text-align: left;
}
.createGroupBtn em {
  font-weight: 400;
  font-size: 2rem;
}

.createGroupBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-weight: 500;
  font-size: 1.25rem; /*----responsive---*/
  border: none;
  border-radius: 3rem;
  padding: 0.25rem;
  margin-bottom: 1rem;
}

.groupname {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  color: white;
  font-size: 1.25rem;
  margin-right: 1rem;
}

.name {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: left;
  color: black;
}

.ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  font-weight: 500;
  letter-spacing: 0.02em;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0.35rem;
}

@media (min-width: 769px) {
  .container {
    width: 30vw;
  }
  .heading {
    font-size: 1.5rem;
  }
  .createGroupBtn {
    font-size: 1rem;
    padding: 0;
  }
}
